.about {
    background: #F5CC00;
    height: 100%;
    position: relative;

    .container {
        min-height: 100%;

        .about-image {
            padding-top: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }  
}