.footerBlogPost {
    text-decoration: none;
    color: #fff;

    h1 {
        font-size: 16px;
        font-weight: 500;
    }

    p {
        font-size: 14px;
        font-weight: 400;
        color: #d5d5d5;
    }
}