nav {
    position: absolute;
    top: 50px;
    width: 100%;
    transition: all 300ms ease-in-out;
    padding: 20px 0;

    &.fixed {
        position: fixed;
        top: 0;
        z-index: 100;
    }

    &.white {
        background: #fff;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #333;
            font-size: 18px;
        }

        .home {
            a {
                font-weight: 700;
                transition: all 300ms ease-in-out;

                &:hover {
                    font-weight: 1000;
                }
            }
        }

        ul {
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            width: 250px;
            justify-content: space-between;
            
            li {
                font-weight: 400;
                transition: all 300ms ease-in-out;

                &:hover {
                    font-weight: 700;
                }
            } 
        }
    }
}