nav {
    position: absolute;
    top: 70px;
    width: 100%;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            text-decoration: none;
            color: #333;
            font-size: 18px;
        }

        .home {
            a {
                font-weight: 700;
            }
        }

        ul {
            list-style: none;
            display: flex;
            margin: 0;
            
            li {
                margin-left: 40px;
            } 
        }
    }
}